<?xml version="1.0" encoding="UTF-8"?>

<web-app id="scwcd_test" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Jersey Version 2 testing Application</display-name>

	<servlet>
		<servlet-name>RestApi</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>wu.justin.rest2.ApiConfig</param-value>
		</init-param>
		  
		<!-- for file upload -->
		<init-param>
    		<param-name>jersey.config.server.provider.classnames</param-name>
    		<param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
		</init-param>   
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>RestApi</servlet-name>
		<url-pattern>/apiReal/*</url-pattern>
	</servlet-mapping>
	
		<filter>
		<filter-name>SpnegoProxy</filter-name>
		<filter-class>wu.justa.proxy.SpnegoProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SpnegoProxy</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
		
	<filter>
		<filter-name>AccessTokenProxy</filter-name>
		<filter-class>wu.justa.proxy.AccessTokenProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AccessTokenProxy</filter-name>
		<url-pattern>/tokenApi/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>InnerTokenFilter</filter-name>
		<filter-class>wu.justa.proxy.InnerTokenFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>InnerTokenFilter</filter-name>
		<url-pattern>/apiReal/*</url-pattern>
	</filter-mapping>		
	
	<servlet>
		<servlet-name>CreateAccessToken</servlet-name>
		<servlet-class>wu.justa.proxy.CreateAccessToken</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateAccessToken</servlet-name>
		<url-pattern>/CreateAccessToken</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JSErrorServlet</servlet-name>
		<servlet-class>wu.justa.servlet.JSErrorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JSErrorServlet</servlet-name>
		<url-pattern>/jsErrorServlet</url-pattern>
	</servlet-mapping>
	
	
	
	

</web-app>
