<html>
<head>
	<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="apiUtils.js"></script>
	<script src="index.js"></script>

<style>
div.bigColumn {
	display: inline-block;
	width: 500px;
	background-color: Lavender;
}

div.smallColumn {
	display: inline-block;
	width: 200px;
}
</style>
</head>

<body>
	<h2>This is a demo for Jersey version 2 RESTful</h2>

	<a href="api/public/ping">json sample</a>
	<br />

	<a href="api/public/time">get server time</a>
	<br />

	<a href="api/users/user/current.json">get current user</a>
	<br />


	<br />
	<br />
	<div ng-app="myApp" ng-controller="myCtrl" >
		<div class="bigColumn">
			<textarea style="width: 480px; height: 500px;"
				readonly="readonly" ng-model="requestJsonDisp"></textarea>
		</div>

		<div class="smallColumn">
			<span style="color:red">{{errorMessage}}</span>
			
			<button type="button" ng-click="getDateJson()">get date </button>
			<br/><br/>
			<button type="button" ng-click="getUser2Json()">get ObjectId </button>
			<br/><br/>
			
			<button type="button" ng-click="testSSO()">test SSO </button>
			<br/><br/>
			
			<button type="button" ng-click="sendCorrectDateJson()">post correct date </button>
			<br/><br/>
			<button type="button" ng-click="sendWorngUtilDateOnFormat()">post wrong date 1</button>
			<span>utilDateOnFormat need MMM-yyyy-dd format</span>
			<br/><br/><br/>
			<button type="button" ng-click="sendWorngDateOnCustimized()">post wrong date 2</button>
			<span>utilDateOnCustomized need full setting</span> 
			
			
			<br/><br/><br/><br/><br/><br/>		
			<br/><br/><br/>				
			

		</div>

		<div class="bigColumn">
			<textarea id="responseJson" style="width: 480px; height: 500px;"
				readonly="readonly" ng-model="responsJsonDisp"></textarea>
		</div>

	</div>




</body>
</html>
