<html>
<head>
<title>${title}</title>
</head>
<body>
	<h1>${title}</h1>

	<ul>
		<#list allApis as api>
		<li><a href="#${api.className}.#${api.methodName}">${api_index + 1} <b>${api.httpMethod}</b> ${api.url}</a>
		</#list>
	</ul>



	<#list allApiClass as oneClass> 
	<b>${oneClass.fullName}</b>
	<ul>
		<#list oneClass.apis as api>
		<li>
		<div id="${api.className}.#${api.methodName}">
			<b>${api.httpMethod}:</b> 
			${api.url}
		</div>
		<div>
			<b>MethodName:</b>${api.className}.${api.methodName}<br/>			
			<table>
                  <thead>
                    <tr>
                      <th>HTTP Staus Code</th>
                      <th>Example</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                  <#list api.results as response>
                    <tr>
                      <td>${response.status}</td>
                      <td>
                        <div class="snippet">
                          <pre><code class="json">${response.json}</code></pre>
                        </div>                        
                      </td>
                  	</tr>
                  </#list>
               </tbody>
            </table>
		</div>
		
		</li>
		</#list>
	</ul>

	</#list>


</body>
</html>